---
const { error, message, contextMessage } = Astro.props
---

<section
	class="m-auto flex w-full flex-wrap place-items-center items-center justify-center text-primary">

	<div class="m-5 mt-16 text-center">
			Error: {error}, Mensaje: {message}, Contexto del mensaje: {contextMessage}
	</div>
</section>