/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f8f9fa;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  margin-bottom: 2rem;
  border-radius: 8px;
  padding: 1.5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #343a40;
}

section article {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fafafa;
}

section h3 {
  font-size: 2vw;
  margin-bottom: 0.5rem;
  color: #343a40;
}

section p {
  font-size: 1.1rem;
  line-height: 1.6;
}

/* Rellenamos para que quede el footer abajo*/
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #343a40;
  padding: 1.5rem 1.5rem;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #343a40;
  color: #fff;
}