/* Contenedor principal para centrar el contenido */
.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  flex: 1;
}


/* Ajuste del Header para evitar desbordamiento */
.header-container {
  background: linear-gradient(90deg, #343a40, #495057);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  width: 100%;
}

header {
  margin: 0;
  padding: 1rem 2rem;
  width: 75%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Evitar que el header empuje demasiado el contenido */
header h1 {
  font-size: 2rem;
  text-align: center;
}

/* Ajustar el ancho del nav */
nav ul {
  display: flex;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  justify-content: center;
}

@media (max-width: 768px) {
  .main-container {
    padding: 0 0.5rem;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }
}
