/* Map.css */
#map {
    width: 80%;
    height: 50vh;
    max-width: 900px;
    border: 2px solid black;

}

/* Estilos para el contenedor del mapa */
.map-container {
  display: flex;
  justify-content: center; /* Centra el mapa horizontalmente */
  margin: 2rem 0;
  margin-top: 20px; /* Espaciado superior */
}